<mat-accordion displayMode="flat" multi="true">
  <mat-expansion-panel expanded>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Categories
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="" perfectScrollbar>
      <eagle-categories></eagle-categories>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel expanded>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Price
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="" perfectScrollbar>
      <p style="margin-left:8px"> Price listesi</p>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel expanded>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Color
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="" perfectScrollbar>
      <p style="margin-left:8px"> Colors</p>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel expanded>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Size
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="" perfectScrollbar>
      <p style="margin-left:8px"> S, M, L, XL, XXL, XXXL</p>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel expanded>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Condition
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="" perfectScrollbar>
      <p style="margin-left:8px"> New, 2. hand from Şükrü</p>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel expanded>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Brand
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="" perfectScrollbar>
      <p style="margin-left:8px"> Efes, Tuborg, Marmara</p>
    </div>
  </mat-expansion-panel>
</mat-accordion>
