<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" class="filter-row mat-elevation-z1 text-muted">
  <button *ngIf="!sidenavOpen" mat-icon-button (click)="onClickSideNav()">
    <mat-icon>more_vert</mat-icon>
  </button>
  <div>
    <a mat-button [matMenuTriggerFor]="sortMenu" #sortMenuTrigger="matMenuTrigger">
      {{sort}}<mat-icon class="mat-icon-sm caret">arrow_drop_down</mat-icon>
    </a>
    <mat-menu #sortMenu="matMenu" xPosition="before" class="app-dropdown" overlapTrigger="true">
      <span>
          <button mat-menu-item *ngFor="let sort of sortings" (click)="changeSorting(sort)">
              <span>{{sort}}</span>
          </button>
      </span>
    </mat-menu>
  </div>

  <div>
    <a mat-button [matMenuTriggerFor]="offsetMenu" #offsetMenuTrigger="matMenuTrigger">
      Offset {{offset}}<mat-icon class="mat-icon-sm caret">arrow_drop_down</mat-icon>
    </a>
    <mat-menu #offsetMenu="matMenu" xPosition="before" class="app-dropdown" overlapTrigger="true">
      <span>
        <button mat-menu-item *ngFor="let offset_ of offsets" (click)="changeOffsetLimit(offset_, null, 'offset')">
            <span>{{offset_}}</span>
        </button>
      </span>
    </mat-menu>
    <a mat-button [matMenuTriggerFor]="countsMenu" #countsMenuTrigger="matMenuTrigger">
      Show {{count}}<mat-icon class="mat-icon-sm caret">arrow_drop_down</mat-icon>
    </a>
    <mat-menu #countsMenu="matMenu" xPosition="before" class="app-dropdown" overlapTrigger="true">
      <span>
        <button mat-menu-item *ngFor="let count_ of counts" (click)="changeOffsetLimit(null, count_, 'limit')">
            <span>{{count_}}</span>
        </button>
      </span>
    </mat-menu>
    <button mat-icon-button (click)="changeViewType('list', 100)">
      <mat-icon>view_list</mat-icon>
    </button>
    <button mat-icon-button (click)="changeViewType('grid', 33.3)">
      <mat-icon>view_module</mat-icon>
    </button>
    <button mat-icon-button (click)="changeViewType('grid', 25)">
      <mat-icon>view_comfy</mat-icon>
    </button>
  </div>
</div>
